# 编译产物
*.exe~
client/cloud-proxy

# 证书文件
client/certs/*.crt
client/certs/*.key
client/certs/*.pem

# IDE 配置
*.code-workspace
.vscode/
.idea/

# 日志文件
*.log
traffic.log

# Python
__pycache__/
*.pyc
.venv/
venv/
deploy/deploy.toml
deploy/deploy_package.zip

# Go
*.exe.bak
*.test
client/config.toml

# macOS
.DS_Store

# Windows
Thumbs.db
