config/deploy.toml
deploy/deploy.toml
client/config.toml
client/cloud-proxy-pool.exe
client/certs/ca.crt
client/certs/ca.key
runtime/*
!runtime/.gitkeep
deploy/deploy_package.zip
**/__pycache__/
*.pyc
